############################################
# Swift Package Manager
############################################
.build/

############################################
# Xcode
############################################
.DS_Store
DerivedData/
Build/

# Xcode user-specific data (niemals committen)
xcuserdata/
*.xcuserstate

# Archives / SCM
*.xcarchive/
*.xccheckout

############################################
# Workspaces (optional)
############################################
*.xcworkspace/
!*.xcworkspace/xcshareddata/
!*.xcworkspace/xcshareddata/xcschemes/

############################################
# General
############################################
.swift-version
.vscode/
.idea/

# Personal / temp files
*.bak
*.orig

############################################
# Logs
############################################
*.log

############################################
# Debugging / Binaries
############################################
*.dSYM
*.o
*.lo
*.la
*.so
*.dylib

############################################
# Editors
############################################
# Emacs
*.elc
~*.swift
#*#

# Vim
*.swp
*.swo
*.swn

############################################
# Secrets / API Keys
############################################
PlantApp/PlantApp/Utils/apiKeys.swift
