# Swift Package Manager
.build/

# Xcode
.DS_Store
*.xcodeproj/
!*.xcodeproj/*.xcworkspace/
!*.xcodeproj/xcuserdata/
!*.xcodeproj/*.pbxproj
*.xcworkspace/
!*.xcworkspace/xcshareddata/
!*.xcworkspace/xcuserdata/
xcshareddata/
!xcshareddata/xcschemes/
DerivedData/
Build/
*.xcarchive/
*.xccheckout
# Optional: Wenn du den .xcodeproj-Ordner nicht verfolgen möchtest, aber die .pbxproj-Datei
# *.xcodeproj/
# !*.xcodeproj/project.pbxproj



# General
.swift-version
.vscode/
.idea/
# Personal settings and temporary files
*.bak
*.orig
# User Interface State
*.xcuserstate
# Crashlytics/Fabric
Crashlytics/
# Fastlane
fastlane/report.xml
fastlane/screenshots/
fastlane/test_output/

# Logs
*.log

# Debugging
*.dSYM
*.o
*.lo
*.la
*.so
*.dylib


# Emacs
*.elc
~*.swift
#*#

# Vim
*.swp
*.swo
*.swn

# etc.